@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background: #010101;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  background: #010101;
  color: #E9DE00;
  border: 1px solid #E9DE00;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

