#pointer {
  cursor: pointer;
  padding: 5px;
  color: white;
  font-size: xxx-large;
}

#pointer:hover {
  color: #E9DE00
}

#hidden {
  display: none;
}

#img {
 margin: 5px;
 height: auto;
 width: 10%;
}
